@page "/stockplan"
@inject IHttpClientFactory HttpClientFactory
@inject ILocalStorageService localStorage
@inject ISnackbar Snackbar
<h3>Stock Plan</h3>

<MudGrid>
    <MudItem xs="4" sm="3">
        <MudNumericField Margin="Margin.Dense" DebounceInterval="500" MaxLength="5" Min="0" Max="9999999" @bind-Value="MoneyAvailable" HelperText="Money Available" Adornment="Adornment.Start" AdornmentText="$" AdornmentColor="Color.Info" />
    </MudItem>
    <MudItem xs="4" sm="3">
        <MudSelect @bind-Value="SelectedStockSymbol" HelperText="Stock Symbol" AnchorOrigin="Origin.BottomCenter">
            @foreach (var stockSymbol in _stockSymbols)
            {
                <MudSelectItem Value="@stockSymbol" />
            }
        </MudSelect>
    </MudItem>
    <MudItem xs="3" sm="3">
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="async () => await GetCurrentStockPrice()">Fetch</MudButton>
    </MudItem>
</MudGrid>

<MudGrid>
    <MudItem xs="4" sm="3">
        <MudNumericField Margin="Margin.Dense" DebounceInterval="500" MaxLength="5" Min="0" Max="999" @bind-Value="StockPrice" HelperText="Current Stock Price" Adornment="Adornment.Start" AdornmentText="$" AdornmentColor="Color.Info" />
    </MudItem>
    <MudItem xs="4" sm="3">
        <MudNumericField Margin="Margin.Dense" DebounceInterval="500" MaxLength="5" Min="-999" Max="999" @bind-Value="CustomPercentage" HelperText="Percentage" Adornment="Adornment.End" AdornmentText="%" AdornmentColor="Color.Info" />
    </MudItem>
    <MudItem xs="4" sm="3">
        <MudNumericField Margin="Margin.Dense" DebounceInterval="500" MaxLength="5" Disabled T="string" Text="@GetStockPriceByPercentage(1+CustomPercentage/100)" HelperText="New Stock Price" Adornment="Adornment.Start" AdornmentText="$" AdornmentColor="Color.Info" />
    </MudItem>
    <MudItem xs="4" sm="3">
        <MudNumericField Margin="Margin.Dense" DebounceInterval="500" MaxLength="5" Disabled T="string" Text="@GetNumberOfSharesByCustomPercentage().ToString()" HelperText="Number of shares" />
    </MudItem>
</MudGrid>
<br />
<h3>Buying Plan</h3>
<br />
<MudExpansionPanels MultiExpansion>
    <MudExpansionPanel Text="Rule 5/8/11/14">
        <MudGrid>
            <MudItem xs="6" sm="3">
                <MudTextField Margin="Margin.Dense" MaxLength="5" Disabled T="string" Text="@GetNumberOfStocks(0.95)" Adornment="Adornment.Start" AdornmentText="$" AdornmentColor="Color.Error" HelperText="Down 5%" />
            </MudItem>
            <MudItem xs="6" sm="3">
                <MudTextField Margin="Margin.Dense" MaxLength="5" Disabled T="string" Text="@GetNumberOfStocks(0.92)" Adornment="Adornment.Start" AdornmentText="$" AdornmentColor="Color.Error" HelperText="Down 8%" />
            </MudItem>
            <MudItem xs="6" sm="3">
                <MudTextField Margin="Margin.Dense" MaxLength="5" Disabled T="string" Text="@GetNumberOfStocks(0.89)" Adornment="Adornment.Start" AdornmentText="$" AdornmentColor="Color.Error" HelperText="Down 11%" />
            </MudItem>
            <MudItem xs="6" sm="3">
                <MudTextField Margin="Margin.Dense" MaxLength="5" Disabled T="string" Text="@GetNumberOfStocks(0.86)" Adornment="Adornment.Start" AdornmentText="$" AdornmentColor="Color.Error" HelperText="Down 14%" />
            </MudItem>
        </MudGrid>
    </MudExpansionPanel>
    <MudExpansionPanel Text="Rule 6/9/12/15">
        <MudGrid>
            <MudItem xs="6" sm="3">
                <MudTextField Margin="Margin.Dense" MaxLength="5" Disabled T="string" Text="@GetNumberOfStocks(0.94)" Adornment="Adornment.Start" AdornmentText="$" AdornmentColor="Color.Error" HelperText="Down 6%" />
            </MudItem>
            <MudItem xs="6" sm="3">
                <MudTextField Margin="Margin.Dense" MaxLength="5" Disabled T="string" Text="@GetNumberOfStocks(0.91)" Adornment="Adornment.Start" AdornmentText="$" AdornmentColor="Color.Error" HelperText="Down 9%" />
            </MudItem>
            <MudItem xs="6" sm="3">
                <MudTextField Margin="Margin.Dense" MaxLength="5" Disabled T="string" Text="@GetNumberOfStocks(0.88)" Adornment="Adornment.Start" AdornmentText="$" AdornmentColor="Color.Error" HelperText="Down 12%" />
            </MudItem>
            <MudItem xs="6" sm="3">
                <MudTextField Margin="Margin.Dense" MaxLength="5" Disabled T="string" Text="@GetNumberOfStocks(0.85)" Adornment="Adornment.Start" AdornmentText="$" AdornmentColor="Color.Error" HelperText="Down 15%" />
            </MudItem>
        </MudGrid>
    </MudExpansionPanel>
    <MudExpansionPanel Text="Rule 10/15/18/22">
        <MudGrid>
            <MudItem xs="6" sm="3">
                <MudTextField Margin="Margin.Dense" MaxLength="5" Disabled T="string" Text="@GetNumberOfStocks(0.9)" Adornment="Adornment.Start" AdornmentText="$" AdornmentColor="Color.Error" HelperText="Down 10%" />
            </MudItem>
            <MudItem xs="6" sm="3">
                <MudTextField Margin="Margin.Dense" MaxLength="5" Disabled T="string" Text="@GetNumberOfStocks(0.85)" Adornment="Adornment.Start" AdornmentText="$" AdornmentColor="Color.Error" HelperText="Down 15%" />
            </MudItem>
            <MudItem xs="6" sm="3">
                <MudTextField Margin="Margin.Dense" MaxLength="5" Disabled T="string" Text="@GetNumberOfStocks(0.82)" Adornment="Adornment.Start" AdornmentText="$" AdornmentColor="Color.Error" HelperText="Down 18%" />
            </MudItem>
            <MudItem xs="6" sm="3">
                <MudTextField Margin="Margin.Dense" MaxLength="5" Disabled T="string" Text="@GetNumberOfStocks(0.78)" Adornment="Adornment.Start" AdornmentText="$" AdornmentColor="Color.Error" HelperText="Down 22%" />
            </MudItem>
        </MudGrid>
    </MudExpansionPanel>
</MudExpansionPanels>

<br />
<h3>Selling Plan</h3>
<br />

<MudItem xs="4" sm="3">
    <MudNumericField Margin="Margin.Dense" DebounceInterval="500" MaxLength="5" Min="0" Max="9999999" @bind-Value="SharesToSell" HelperText="Number of shares" />
</MudItem>



<MudExpansionPanels MultiExpansion>
    <MudExpansionPanel Text="Rule 5/8/11/14">
        <BlazorUtility.StockPlan.SellingStockDisplay GetProfitFromSalePrice="GetProfitFromSalePrice" GetStockPriceByPercentage="GetStockPriceByPercentage" TotalFees="TotalFees" RuleSet="5,8,11,14" />
    </MudExpansionPanel>
    <MudExpansionPanel Text="Rule 6/9/12/15">
        <BlazorUtility.StockPlan.SellingStockDisplay GetProfitFromSalePrice="GetProfitFromSalePrice" GetStockPriceByPercentage="GetStockPriceByPercentage" TotalFees="TotalFees" RuleSet="6,9,12,15" />
    </MudExpansionPanel>
</MudExpansionPanels>



