@page "/stockplan"
<h3>Stock Plan</h3>

<MudGrid>
    <MudItem xs="6" sm="3">
        <MudNumericField Margin="Margin.Dense" DebounceInterval="500" MaxLength="5" Min="0" Max="999" @bind-Value="StockPrice" HelperText="Current Stock Price" Adornment="Adornment.Start" AdornmentText="$" AdornmentColor="Color.Info" />
    </MudItem>
    @* <MudItem xs="6" sm="3">
        <MudNumericField Margin="Margin.Dense" DebounceInterval="500" MaxLength="5" Min="0" Max="999" @bind-Value="StockQuantity" HelperText="Quantity" />
    </MudItem> *@
</MudGrid>

<h3>Buying Plan</h3>
<MudGrid>
    <MudItem xs="6" sm="3">
        <MudTextField Margin="Margin.Dense" MaxLength="5" Disabled T="string" Text="@GetStockPriceByPercentage(0.9)" Adornment="Adornment.Start" AdornmentText="$" AdornmentColor="Color.Error" HelperText="Stock Price down 10%" />
    </MudItem>
    <MudItem xs="6" sm="3">
        <MudTextField Margin="Margin.Dense" MaxLength="5" Disabled T="string" Text="@GetStockPriceByPercentage(0.85)" Adornment="Adornment.Start" AdornmentText="$" AdornmentColor="Color.Error" HelperText="Stock Price down 15%" />
    </MudItem>
    <MudItem xs="6" sm="3">
        <MudTextField Margin="Margin.Dense" MaxLength="5" Disabled T="string" Text="@GetStockPriceByPercentage(0.8)" Adornment="Adornment.Start" AdornmentText="$" AdornmentColor="Color.Error" HelperText="Stock Price down 20%" />
    </MudItem>
    <MudItem xs="6" sm="3">
        <MudTextField Margin="Margin.Dense" MaxLength="5" Disabled T="string" Text="@GetStockPriceByPercentage(0.75)" Adornment="Adornment.Start" AdornmentText="$" AdornmentColor="Color.Error" HelperText="Stock Price down 25%" />
    </MudItem>
</MudGrid>

<h3>Selling Plan</h3>
<MudGrid>
    <MudItem xs="6" sm="3">
        <MudTextField Margin="Margin.Dense" MaxLength="5" Disabled T="string" Text="@GetStockPriceByPercentage(1.1)" Adornment="Adornment.Start" AdornmentText="$" AdornmentColor="Color.Success" HelperText="Stock Price up 10%" />
    </MudItem>
    <MudItem xs="6" sm="3">
        <MudTextField Margin="Margin.Dense" MaxLength="5" Disabled T="string" Text="@GetStockPriceByPercentage(1.15)" Adornment="Adornment.Start" AdornmentText="$" AdornmentColor="Color.Success" HelperText="Stock Price up 15%" />
    </MudItem>
    <MudItem xs="6" sm="3">
        <MudTextField Margin="Margin.Dense" MaxLength="5" Disabled T="string" Text="@GetStockPriceByPercentage(1.2)" Adornment="Adornment.Start" AdornmentText="$" AdornmentColor="Color.Success" HelperText="Stock Price up 20%" />
    </MudItem>
    <MudItem xs="6" sm="3">
        <MudTextField Margin="Margin.Dense" MaxLength="5" Disabled T="string" Text="@GetStockPriceByPercentage(1.25)" Adornment="Adornment.Start" AdornmentText="$" AdornmentColor="Color.Success" HelperText="Stock Price up 25%" />
    </MudItem>
</MudGrid>

@code {
    private double StockPrice = 0;
    // private int StockQuantity = 0;
    private string GetStockPriceByPercentage(double percentage)
    {
        return Math.Round(StockPrice * percentage, 2).ToString();
    }
}
