@page "/stockplan"
@inject IHttpClientFactory HttpClientFactory
@inject ILocalStorageService localStorage
@inject ISnackbar Snackbar
<h3>Stock Plan</h3>

<MudGrid>
    <MudItem xs="5" sm="3">
        <MudNumericField Margin="Margin.Dense" DebounceInterval="500" MaxLength="7" Min="0" Max="9999999" @bind-Value="MoneyAvailable" HelperText="Money Available" Adornment="Adornment.Start" AdornmentText="$" AdornmentColor="Color.Info" />
    </MudItem>
    <MudItem xs="5" sm="3">
        <MudSelect T="string" Value="@SelectedStockSymbol" HelperText="Stock Symbol" AnchorOrigin="Origin.BottomCenter" ValueChanged="async (newValue) => await GetCurrentStockPrice(newValue)">
            @foreach (var stockSymbol in _stockSymbols)
            {
                <MudSelectItem Value="@stockSymbol" />
            }
        </MudSelect>
    </MudItem>
</MudGrid>

<MudGrid>
    <MudItem xs="5" sm="3">
        <MudNumericField Margin="Margin.Dense" DebounceInterval="500" MaxLength="5" Min="0" Max="999" @bind-Value="StockPrice" HelperText="Current Stock Price" Adornment="Adornment.Start" AdornmentText="$" AdornmentColor="Color.Info" />
    </MudItem>
    <MudItem xs="5" sm="3">
        <MudNumericField Margin="Margin.Dense" DebounceInterval="500" MaxLength="5" Min="-999" Max="999" Step=".1M" @bind-Value="CustomPercentage" HelperText="Percentage" Adornment="Adornment.End" AdornmentText="%" AdornmentColor="Color.Info" />
    </MudItem>
    <MudItem xs="5" sm="3">
        <MudTextField Margin="Margin.Dense" DebounceInterval="500" MaxLength="5" Disabled T="string" Text="@GetStockPriceByPercentage(1+(double)CustomPercentage/100)" HelperText="New Stock Price" Adornment="Adornment.Start" AdornmentText="$" AdornmentColor="Color.Info" />
    </MudItem>
    <MudItem xs="5" sm="3">
        <MudTextField Margin="Margin.Dense" DebounceInterval="500" MaxLength="5" Disabled T="string" Text="@GetNumberOfSharesByCustomPercentage().ToString()" HelperText="Number of shares" />
    </MudItem>
</MudGrid>
<br />
<h3>Buying Plan</h3>
<br />
@if (MoneyAvailable > StockPrice * 4) {
    <p>You can buy each part for @(MoneyAvailable/4)</p>
}
<MudExpansionPanels MultiExpansion>
    <BlazorUtility.StockPlan.BuyingStockDisplay GetNumberOfStocks="GetNumberOfStocks" RuleSet="5,8,11,14" />
    <BlazorUtility.StockPlan.BuyingStockDisplay GetNumberOfStocks="GetNumberOfStocks" RuleSet="6,9,12,15" />
    <BlazorUtility.StockPlan.BuyingStockDisplay GetNumberOfStocks="GetNumberOfStocks" RuleSet="10,15,18,22" />
</MudExpansionPanels>

<br />
<h3>Selling Plan</h3>
<br />

<MudItem xs="4" sm="3">
    <MudNumericField Margin="Margin.Dense" DebounceInterval="500" MaxLength="7" Min="0" Max="9999999" @bind-Value="SharesToSell" HelperText="Number of shares" />
</MudItem>

<MudExpansionPanels MultiExpansion>
    <BlazorUtility.StockPlan.SellingStockDisplay GetProfitFromSalePrice="GetProfitFromSalePrice" GetStockPriceByPercentage="GetStockPriceByPercentage" TotalFees="TotalFees" RuleSet="5,8,11,16" />
    <BlazorUtility.StockPlan.SellingStockDisplay GetProfitFromSalePrice="GetProfitFromSalePrice" GetStockPriceByPercentage="GetStockPriceByPercentage" TotalFees="TotalFees" RuleSet="6,9,12,15" />
</MudExpansionPanels>



